.menu {
    background-color: cornflowerblue;
    height: 60px;
    border-radius: 20px;
    padding: 7px;
}

.hamburgerNavButton {
    float: right;
    cursor: pointer;
    font-size: 45px;

}

.navBar {
    display: block;
    float: right;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 7px;
    margin: 10px;
    width: 50px;
    height: 600px;
}